body{
  background-color: #ffffff;
}
.result {
  max-width: 640px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

@media (max-width: 640px) {
  .result {
    width: 100%;
    height: auto; /* 이미지 비율을 유지하며 크기를 조정 */
  }
}